body{
    font-family:Arial,sans-serif;
    margin:0px; 
    padding:100 px;
    background-color: #f2f2f2;
}
header {
    background:url("images/apples.jpg")no-repeat center center/cover;
    color: white;
    padding: 300px 0;
    flex:auto;
}
nav{
    margin: 0%;
    float: right;  
}
nav{
    padding:10px;
    height: 90px;
    line-height: 20px;
    margin: -299px 0px 0px 0px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color:rgb(252, 252, 252);
    text-decoration: none;
    padding: 4px 25px 10px 25px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: black;
}
h2{
    float: left ;
    height: 90px;
    margin: -430px 0px 0px 0px;
    color:rgb(252, 252, 252);
    padding: 0px 0px 0px 50px;
    font-size: 1em;

}

.button3 {
    position: absolute;
    top: 1570px; 
    left: 680px; 
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    border: rgb(255, 255, 255);
    padding: 10px 20px;
    z-index: 10; 
}

.button4 {
    position: absolute;
    top: 1875px; 
    left: 1815px; 
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    border: rgb(255, 255, 255);
    padding: 10px 20px;
    z-index: 10; 
}


.button5 {
    position: absolute;
    top: 2224px; 
    left: 680px; 
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    border: rgb(255, 255, 255);
    padding: 10px 20px;
    z-index: 11; 
}

.button6 {
    position: absolute;
    top: 2530px; 
    left: 1815px; 
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    border: rgb(255, 255, 255);
    padding: 10px 20px;
    z-index: 10; 
}



h1{
    text-align: center;
    text-transform:none;
    font-size: 60px;
    letter-spacing: 0.2em;
}
h3{
    text-align: center;
    text-transform:none;
    font-size: 14px;
}
.butt1{
    margin: 100px;
    align-items: center;
    text-align: center;
}

.button {
    width: 200px;
    height: 50px;
        text-align: center;
        padding: 8px;
        border: 1px solid rgb(255, 255, 255);
        background-color:rgba(0, 0, 0, 0.5);
        color: rgb(206, 206, 206);
    }


.col{
column-count: 2;
padding-top: 90px;
padding-left: 45px;
}
.text{
    text-align: center;
    padding: 250px 0px 0px 0px;
    font-size: 30px;
}
.flex{
    display: flex;
    font-size: 20px;
    text-align: center;
    z-index: 1;
}
.reverse{
    z-index: 2;
    margin-left: 30px;
}
.subs{
    text-align: left;
    padding: 0px 0px 0px 70px;
    font-size: 20px;
}



.form-news{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
    padding: 40px;
    p{
    font-size: 30px;
    padding-right: 10px;
    }
    .in{
        width: 700px;
        height: 50px;
    }
    label{
        line-height: 0;
        height: 50px;
        }
    }
    .button2{
        width: 100px;
        height: 56px;
            text-align: center;
            padding: 8px;
            border: 1px solid rgb(255, 255, 255);
            background-color:rgba(0, 0, 0, 0.5);
            color: rgb(206, 206, 206);
    }


    
    .connect1{
    padding: 0 50px;
    justify-content: center; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:20px; 
    }   
.item1{
        padding: 50px;
        width: 230px;
        color:#a2a2a2;
    }

    .ende1{
    
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
 
        ul{
            margin: 10px;
            padding:0px;
            text-align: end;
    
        }
        
    
        li {
            display: inline;
            }

    
            .button22 {
                position: relative;
                top: -24px;
                left: 180px;
                width: 65px;
                height: 24px;
                border: 1px solid rgb(255, 255, 255);
                background-color: rgba(0, 0, 0, 0.5);
                color: rgb(206, 206, 206);
            }
            
    h6 {
    margin: auto;
}

